<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="brand" href="#">COMPASS</a>
			<div class="nav-collapse collapse">
				<ul class="nav">
					<li class="<%= 'active' if current_page? deals_path %>">
						<%= link_to 'To Do List', :deals %>
					</li>
					<li class="<%= 'active' if current_page? new_deal_path %>">
						<%= link_to 'Create a New Deal', new_deal_path %>
					</li>
				</ul>
				<div class="pull-right">
							<% if logged_in? %>
								<%= link_to 'Logout', logout_path, class: 'btn btn-default' %>
							<% end %>
				</div>
			</div>
		</div>		
	</div>
</div>