<div class="nested-fields">
  <div id="description">
    <%= f.input :installment, placeholder: ' 1 = 1st installment' %>
  </div>

  <div id="amount">
  	<%= f.input :amount, placeholder: 'Commission amount' %>
  </div>
  
  <div id="commission_datepicker">
  	<%= f.input :commission_date %>
  </div>

    <%= f.input :done, label: 'Commission Paid' %>
    <div class="btn default">
      <%= link_to_remove_association "Remove Commission", f %>
    </div>

</div>