<div class="hero-unit">
<h1>Incomplete Tasks</h1>

	<% @deals.each do |deal| %>
		<!-- We only want to return deals with unfinished tasks -->
		<% if deal.incomplete_tasks.empty? == false %>
		<button type="button" class="btn btn-default btn-lg btn-block">
				<%= link_to deal.project_name, deal %>
		</button>
		<p class="btn btn-default btn-mini pull-right">	
			<%= link_to "Edit this Deal", edit_deal_path(deal) %>
		</p>
			<% deal.incomplete_tasks.each do |task| %>
				<p>
	          <input type="checkbox" data-task-id="<%= task_path(task) %>" class="incomplete">
						<%= task.description %>
	            <strong>|| Date Due: <%= task.due_date %></strong>  
				</p>
			<% end %>
		<% end %>
		<br/>
	<% end %>

<h1>Commissions</h1>	
	<% @deals.each do |deal| %>
		<!-- We only want to return deals with unpaid commissions -->
			<% if deal.unpaid_commissions.empty? == false %>
			<button type="button" class="btn btn-default btn-lg btn-block">
					<%= link_to deal.project_name, deal %>
			</button>
			<p class="btn btn-default btn-mini pull-right">	
				<%= link_to "Edit this Deal", edit_deal_path(deal) %>
			</p>
				<% deal.unpaid_commissions.each do |commission| %>
					<p>
		          <input type="checkbox" data-commission-id="<%= commission_path(commission) %>" class="incomplete">
							<%= commission.description %>
		            <strong>|| Commission Date: <%= commission.commission_date %></strong>  
					</p>
				<% end %>
			<% end %>
			<br/>
	<% end %>
</div>

