<div class="hero-unit">
	<!-- refer to method in deal_helper-->
	<%= all_deals(@deals) %>

	<% @deals.each do |deal| %>
		<!-- We only want to return deals with unfinished tasks -->
		<% if deal.incomplete_tasks.empty? == false %>
			<h3 class="link_proj_name"><%= link_to deal.project_name, deal %><h3>
			
			<div id="incompleteTask">
			<p class="btn btn-default btn-mini pull-right">	
				<%= link_to "Edit this Deal", edit_deal_path(deal) %>
			</p>

			<% deal.incomplete_tasks.each do |task| %>
		    <input type="checkbox" data-task-id="<%= task_path(task) %>" class="incomplete">
					<%= task.description %>
		      <strong>|| Date Due: <%= task.due_date %></strong>  
			<% end %> <!-- end incomplete tasks iteration -->
		<% end %> <!-- end if incomplete tasks is false statement -->
	<% end %> <!-- end deals iteration -->
	
	<br>
	
	<h1 class="list_header">Commissions</h1>	
		<% @deals.each do |deal| %>
			<!-- We only want to return deals with unpaid commissions -->
			<% if deal.unpaid_commissions.empty? == false %>
				<h3 class="link_proj_name"><%= link_to deal.project_name, deal %></h3>
				
				<p class="btn btn-default btn-mini pull-right">	
					<%= link_to "Edit this Deal", edit_deal_path(deal) %>
				</p>

				<% deal.unpaid_commissions.each do |commission| %>
          <div id="check">
	          <input type="checkbox" data-commission-id="<%= commission_path(commission) %>" class="unpaid">
						<strong>Commission Installment:</strong>
						<%= commission.installment %>
						<br>
						<strong>Commission Amount:</strong>
						<%= commission.amount %>
						<br>
	          <strong>Commission Due:</strong>
	          <%= commission.commission_date %>
        	</div>
				<% end %> <!-- end unpaid commissions iteration -->
			<% end %> <!-- end if unpaid commissions is false statement -->
		<% end %> <!-- end deals iteration -->
</div>

