<div class="hero-unit">
<h1>Incomplete Tasks</h1>

	<% @deals.each do |deal| %>
	<div class="btn-medium btn-danger"><%= link_to deal.project_name, deal %></div>
		<p>
			Created On:<%= deal.created_at %>
		</p>
		<% deal.incomplete_tasks.each do |task| %>
			<p>
          <input type="checkbox" data-task="<%= task.id %>" />
					<%= task.description %>
            <strong>|| Date Due: 
            <%= task.due_date %></strong>  
			</p>
		<% end %>
		<br/>
	<% end %>
</div>

