<h1>Incomplete Tasks</h1>

<div class="projects">
	<% @deals.each do |deal| %>
	<h3><%= link_to deal.project_name, deal %></h3>
		<p>
			Created On:<%= deal.created_at %>
		</p>
		<% deal.incomplete_tasks.each do |task| %>
			<p>
          <input type="checkbox" data-task="<%= task.id %>" />
					<%= task.description %>
            <strong>|| Date Due: 
            <%= task.due_date %></strong>  
			</p>
		<% end %>
		<br/>
	<% end %>
</div>

