 <h1>New Deal</h1>

<%= simple_form_for @deal do |f| %>
	<%= f.input :project_name, placeholder: 'e.g. GlassDoor Towers' %>
	<%= f.input :unit_number, placeholder: 'e.g. 1816' %>
	<%= f.input :developer, placeholder: 'e.g. K&B Corp.' %>
	<%= f.button :submit %>
<% end %>
