<div class="hero-unit">
<h1><%= @deal.project_name %></h1><br/>
<h3>Developer: <%= @deal.developer %></h3><br/>
<h3>Unit #<%= @deal.unit_number %></h3>

<div class="requirements">
  <h3> Incomplete Tasks for <%= @deal.project_name %></h3>
  <% @deal.incomplete_tasks.each do |task| %>
    <p>
            <%= task.description %>
            <strong>|| Date Due: 
            <%= task.due_date %></strong>
          
    </p>
  <% end %>
  <br/>
  <h3> Tasks You Have Finished </h3>
  <% @deal.tasks.each do |task| %>
    <p><% if task.done == true %>
            <%=  task.description %>
          <% end %>
    </p>
  <% end %>
</div>


<%= link_to "Edit this Deal", edit_deal_path %> | 
<%= link_to "Back to To Do List", deals_path %> |
<%= link_to "Delete this Deal", @deal, :confirm => "Are you sure?",
 :method => :delete %>

</div>