<h1><%= @deal.project_name %></h1><br/>
<h3>Developer: <%= @deal.developer %></h3><br/>
<h3>Unit #<%= @deal.unit_number %></h3>

<div class="requirements">
  <% @deal.tasks.each do |task| %>
    <p><%= task.description %></p>
    <p>Finished? <%= task.done %></p>
  <% end %>
</div>


<%= link_to "Edit this Deal", edit_deal_path %> | 
<%= link_to "Back to To Do List", deals_path %> |
<%= link_to "Delete this Deal", @deal, :confirm => "Are you sure?",
 :method => :delete %>

