<!DOCTYPE html>
<html ng-app="compassApp">
<head>
  <title>Compass</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= render 'layouts/shared/nav' %>

  <div class="flash_alerts">
    <% if flash[:alert] %>
      <div class="alert alert-danger">
        <p id="alert"><%= flash[:alert] %></p>
      </div>
    <% end %>
    <% if flash[:notice] %>
      <div class="alert alert-info">  
        <p id="notice"><%= flash[:notice] %></p>
      </div>
    <% end %>
  </div>  

	<div ng-view class="container">
		<%= yield %>
	</div>
</body>
</html>
